/*Nav*/
#main-navbar {
  background-color: blue;
  overflow: hidden; 
}

#navbar-container {
  float: left;
  width: 100%;
  position: relative; 
}

#navbar-container ul {
  position: relative;
  margin: 0;
  padding: 0;  
  float: left;
  left: 50%;
}

#navbar-container ul li{
  list-style-type: none;
  position: relative;
  float: left;
  right: 50%;
  display: block;
  padding: 10px 20px;
}

#navbar-container ul li a{
  color: #fff;
  text-decoration: none;
}
#navbar-container ul li:hover {
  display: block;
  background-color: #000;
}
#onpage {
  text-decoration: underline overline;
}

/*
    background-color: blue;            position: fixed;
    overflow: hidden;                       right:0%;
    float: left;                                    background-color: red;
    width: 100%;                              height: 100%;
    position: relative;                       width: 20%;
    list-style-type: none;                 list-style-type: none;
    margin: 0;                                    text-align: center;
    padding: 0;                                  padding: 0;
    position: relative;                       display: block;
    left: 50%;                                    padding: 15px 0;
    float: left;                                    color: #fff;
    float: left;                                    text-decoration: none;
    position: relative;                       background-color: #000;
    right: 50%;
    display: block;
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    background-color: #000;
    text-decoration: underline overline;
    
*/
/*side bar*/

#sidebar {
  position: fixed;
  right:0%;
  background-color: red;
  height: 100%;
  width: 20%;
}

#sidebar-container ul{
  list-style-type: none;
  padding: 0;
}
#sidebar-container ul li {
  text-align: center;
  padding: 15px 0;
}
#sidebar-container ul li:hover {
  display: block;
  background-color: #000;
}

#sidebar-container ul li a{
  color: #fff;
  text-decoration: none;
}